---

---

<html lang="en" class="bg-black text-white">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Local Fonts for CJK - Astro + Tailwind</title>
	</head>

	<body>
		<main class="m-auto p-6 font-serif">
			<h1>Lorem ipsum dolo</h1>
			<div class="border-2 border-white w-fit p-3">
				<img class="invert" src="/assets/english_font_miller.png"/>
			</div>
			<div class="seperator"/>
			<h1>안녕하십니까! 한국어 폰트!</h1>
			<img src="/assets/korean_font_hahmlet.png"/>
			<div class="seperator"/>
			<h1>こんにちは！ 日本語フォント！</h1>
			<img  src="/assets/japanese_font_yujiboku.png"/>
			<div class="seperator"/>
			<h1>你好！ 中文字体！</h1>
			<img src="/assets/chinese_font_notoserif.png"/>
		</main>
	</body>
</html>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 4rem;
		font-weight: 500;
		margin: 0;
	}
	img {
		border: 2px solid white;
		height: 4rem;
	}
	
	.seperator {
		border-top: 3px solid #bbb;
		margin-top:  2rem;
		margin-bottom:  2rem;
	}
</style>